<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Jake Jones: @ViewData["Title"]</title>

	<environment include="Development">
		<link rel="stylesheet" href="~/css/all.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="~/css/all.min.css" asp-append-version="true" />
	</environment>
	
	<link rel="stylesheet" href="~/lib/prism/prism.css" />

	@RenderSection("Head", required: false)
</head>
<body class="@ViewData["BodyClass"]">
	
	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<ul class="nav navbar-nav">
		<li><a asp-area="" asp-controller="Home" asp-action="Index">&nbsp;▶Home&nbsp;</a></li>
		<li><a asp-area="" asp-controller="Blog" asp-action="Index">&nbsp;▶Blog&nbsp;</a></li>
		<li><a asp-area="" asp-controller="Home" asp-action="About">&nbsp;▶About&nbsp;</a></li>
	</ul>

	<main role="main">
		@RenderBody()
	</main>

	<environment include="Development">
		<script src="~/js/all.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script src="~/js/all.min.js" asp-append-version="true"></script>
	</environment>
	
	<script src="~/lib/prism/prism.js"></script>


	@RenderSection("Scripts", required: false)
</body>
</html>
