@using System.Globalization
@model JakeJones.Home.Blog.Implementation.Models.PostViewModel

@{
	ViewData["BodyClass"] = "blog blog--post";

	ViewData["Title"] = Model.Title;
	ViewData["Description"] = Model.Excerpt;
}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
	<header>
		<div class="post-meta">
			@if (Model.PublishDate.HasValue)
			{
				<time datetime="@Model.PublishDate.Value.ToString("s")" itemprop="datePublished">@Model.PublishDate.Value.ToString("MMMM dd, yyyy", new CultureInfo("en-US"))</time>
			}
			@if (User.Identity.IsAuthenticated)
			{
				<a asp-controller="Blog" asp-action="edit" asp-route-id="@Model.Id" title="Edit the post">Edit post</a>
			}
		</div>

		<h1 class="post-title" itemprop="name headline" >@Model.Title</h1>

		<link rel="canonical" href="@Model.AbsoluteUrl">
		<link itemprop="url" href="@Model.AbsoluteUrl">
	</header>

	<div class="post-entry" itemprop="articleBody mainEntityOfPage">
		@Html.Raw(Model.Content)
	</div>

	<footer>
		@*@if (Model.Categories.Any())
		{
			<ul class="categories">
				<li> Posted in </li>
				@foreach (string cat in Model.Categories)
				{
					<li itemprop="articleSection"><a asp-controller="Blog" asp-action="Category" asp-route-category="@cat.ToLowerInvariant()">@cat</a></li>
				}
			</ul>
			<text>and has</text>
		}*@

		@*<a href="@Model.GetLink()#comments" itemprop="discussionUrl" title="Go to the comments section">
			<span itemprop="commentCount">@Model.Comments.Count</span> @(Model.Comments.Count == 1 ? "comment" : "comments")
		</a>*@
		
		<meta itemprop="url" rel="canonical"  />
		<meta itemprop="author" content="Jake Jones" />
		<meta itemprop="dateModified" content="@Model.LastModified.ToString("s")" />
	</footer>
</article>

<section id="comments" data-post-id="@Model.Id">
	<div class="container">
		<h2>Comments</h2>
		<div id="existingComments"></div>
		<form method="post" asp-controller="Blog" asp-action="AddComment" asp-route-postid="@Model.Id" asp-antiforgery="false">
			<h3>Post a comment</h3>
			<br />

			<label for="content">Comment</label>
			<textarea id="content" name="content" rows="5" cols="100" onfocus="" required placeholder="Enter your comment here..."></textarea>

			<div class="details">
				<label for="author">Name</label>
				<input id="author" name="author" placeholder="Your name" required />

				<label for="email">E-mail</label>
				<input id="email" name="email" placeholder="Example: mary@outlook.com" required />
				<br />

				<input type="submit" value="Post comment" />

				<!-- This element is being removed by site.js. It is to prevent comment spam-->
				<input type="hidden" name="website" />
			</div>
		</form>
	</div>
</section>

		@*await Html.RenderPartialAsync("_SocialSharing", Model.Title);
			await Html.RenderPartialAsync("Comments");

			@section Preload {
				@* This lazy loads the stylesheet in a non-render blocking way
				<link rel="preload" href="~/css/comments.scss" as="style" />
				<noscript><link rel="stylesheet" href="~/css/comments.scss" /></noscript>
			}*@


		@*@if (User.Identity.IsAuthenticated)
			{
				@section Scripts {
					<script src="~/js/admin.js" async defer></script>
					<link rel="stylesheet" href="~/css/admin.scss" />
				}
			}*@
