@using System.Globalization
@model JakeJones.Home.Blog.Implementation.Models.PostViewModel

@{
	ViewData["BodyClass"] = "blog blog--post";

	ViewData["Title"] = Model.Title;
	ViewData["Description"] = Model.Excerpt;
}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
	<header>
		<div class="post-meta">
			@if (Model.PublishDate.HasValue)
			{
				<time datetime="@Model.PublishDate.Value.ToString("s")" itemprop="datePublished">@Model.PublishDate.Value.ToString("MMMM dd, yyyy", new CultureInfo("en-US"))</time>
			}
			@if (User.Identity.IsAuthenticated)
			{
				<a asp-controller="Blog" asp-action="edit" asp-route-id="@Model.Id" title="Edit the post">Edit post</a>
			}
		</div>

		<h1 class="post-title" itemprop="name headline" >@Model.Title</h1>

		<link rel="canonical" href="@Model.AbsoluteUrl">
		<link itemprop="url" href="@Model.AbsoluteUrl">
	</header>

	<div class="post-entry" itemprop="articleBody mainEntityOfPage">
		@Html.Raw(Model.Content)
	</div>

	<footer>
		@*@if (Model.Categories.Any())
		{
			<ul class="categories">
				<li> Posted in </li>
				@foreach (string cat in Model.Categories)
				{
					<li itemprop="articleSection"><a asp-controller="Blog" asp-action="Category" asp-route-category="@cat.ToLowerInvariant()">@cat</a></li>
				}
			</ul>
			<text>and has</text>
		}*@

		@*<a href="@Model.GetLink()#comments" itemprop="discussionUrl" title="Go to the comments section">
			<span itemprop="commentCount">@Model.Comments.Count</span> @(Model.Comments.Count == 1 ? "comment" : "comments")
		</a>*@
		
		<meta itemprop="url" rel="canonical" />
		<meta itemprop="author" content="Jake Jones" />
		<meta itemprop="dateModified" content="@Model.LastModified.ToString("s")" />
	</footer>
</article>

<section class="comments" id="comments">
	<div class="container">
		<h2>Comments</h2>
		@foreach (var comment in Model.Comments)
		{
			<article id="comment-@comment.Id" class="comment @(comment.IsAdmin ? "admin" : null)" itemprop="comment" itemscope itemtype="http://schema.org/Comment">
				<time datetime="@comment.PublishDate.ToString("s")" itemprop="datePublished">
					@comment.PublishDate.ToString("yyyy.MM.dd", new CultureInfo("en-US"))
				</time>

				<div class="content">
					<p itemprop="text">@comment.Content</p>
					<span itemprop="name">@comment.Author</span>

					@if (User.Identity.IsAuthenticated)
					{
						<a class="noline" href="mailto:@comment.Email" title="Send email to @comment.Email">&#x2709;</a>
						<a class="delete noline" asp-controller="Blog" asp-Action="DeleteComment" asp-route-postid="@Model.Id" asp-route-commentid="@comment.Id" title="Delete the comment...">Delete</a>
					}
				</div>
			</article>
		}

		@if (Model.Comments.Count == 0)
		{
			<p>There are zero comments 😢</p>
		}

		<form class="post-comment" method="post" asp-controller="Blog" asp-action="AddComment" asp-route-postid="@Model.Id" asp-antiforgery="false">
			<label for="content">Comment</label>
			<textarea id="content" name="content" rows="5" cols="100" onfocus="" required placeholder="Your comment"></textarea>

			<div class="details">
				<label for="author">Name</label>
				<input id="author" name="author" placeholder="Your name" required />

				<label for="email">E-mail</label>
				<input id="email" name="email" placeholder="your@email.com" required />
				<honeypot name="name" class="hide"></honeypot>
				<br />

				<input type="submit" value="Post comment" />
			</div>
		</form>

		<noscript>
			<br />
			<p>Enable JavaScript to post comments on this blog.</p>
		</noscript>
	</div>
</section>

		@*await Html.RenderPartialAsync("_SocialSharing", Model.Title);
			await Html.RenderPartialAsync("Comments");

			@section Preload {
				@* This lazy loads the stylesheet in a non-render blocking way
				<link rel="preload" href="~/css/comments.scss" as="style" />
				<noscript><link rel="stylesheet" href="~/css/comments.scss" /></noscript>
			}*@


		@*@if (User.Identity.IsAuthenticated)
			{
				@section Scripts {
					<script src="~/js/admin.js" async defer></script>
					<link rel="stylesheet" href="~/css/admin.scss" />
				}
			}*@
